.image-fondo {
    background-image: url("https://placekitten.com/150/150");
}
.cabecera{
  color: #fff;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}

#map{
  height: 500px;
  width: 500px;
}