{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
   <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'core/css/a.css' %}">
   
    
</head>
<body>
    <div class = "row">
    <div class = "col"></div>
    <div class = "col"><h1>{% block header %} {% endblock %}</h1></div>
    <div class = "col"></div>
    </div>
<!-- As a link -->

<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
      <a class="navbar-brand" href="{% url 'informe' %}">Ver Informe</a>
      <a class="navbar-brand" href="{% url 'admin:index'%}">Administrador</a>
      <a class="navbar-brand" href="{% url 'mapa'%}">Mapa</a>
    </div>
  </nav>
  


    <hr>

    {% block content %}
     {% endblock %}
    
</body>
</html>